@media only screen and (max-width: 600px) {
  .header {
    background-color: #ffffff;
    color: #ffffff;
    padding: 17px 0px 17px 24px;
  }

  .deff {
    text-align: right;
    margin: 0px 20px 0px;
  }

  .it {
    text-align: right;
    color: #ffffff;
    margin: 0px 20px 0px;
    margin-bottom: 160px;
  }

  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -290px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
  }

  .pov {
    font-size: 32px;
    font-weight: bold;
    margin-top: -230px;
    margin-left: 20px;
  }

  .lorem {
    text-align: left;
    margin: 0px 20px 0px 20px;
    margin-left: 20px;
    color: #ffffff;
  }

  .abouts {
    background-color: black;
    color: #ffffff;
    text-align: left;
  }

  .Res {
    font-size: 32px;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 20px;
  }

  .test {
    text-align: left;
    font-weight: bold;
    font-family: "Work Sans", Black 900;
    font-size: 32px;
    margin-left: 20px;
    margin-bottom: 65px;
    color: #ffffff;
  }

  .hlp-tps {
    text-align: left;
    color: #ffffff;
    margin-top: 90px;
    font-weight: bold;
    font-size: 32px;
    margin-left: 20px;
  }

  .footer {
    background-color: #0b24fb;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 18px 50px 5px 50px;
    display: flex;
    justify-content: space-between;
  }

  .Yos {
    text-align: left;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    margin-top: 90px;
    margin-left: 20px;
  }

  .isi {
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
  }

  [class*="col-"] {
    width: 100%;
  }
}
